body {
    font-family: 'Cascadia Code', sans-serif;
    line-height: 1.6;
    margin: 0;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 800px;
    }

    .education-card {
        width: 40%;
    }
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 65px;
}

.section h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    margin-bottom: 30px;
}

footer a {
    font-size: 0.8rem;
    margin-right: 10px;
    transition: color 0.2s;
    margin-bottom: 10px;
    text-decoration: none;
}

footer a:hover {
    color: #007bff;
}

h1,
h3,
h4,
h5 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 1rem;
}

.socmed a {
    font-size: 1.0rem;
}

.experience-item {
    margin-bottom: 30px;
}

.experience-item p {
    text-align: justify;
    font-size: 0.95rem;
}

/* Show Scroll Up */
.show-scroll {
    bottom: 3rem;
}

/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    background-color: var(--body-color);
    padding: 6px;
    display: inline-flex;
    border-radius: .25rem;
    color: var(--first-color);
    font-size: 1.25rem;
    box-shadow: 0 4px 12px hsla(228, 15%, 8%, .4);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

[data-bs-theme='light'] {
    body {
        background-color: #F9F9F9;
    }

    footer a {
        color: #343a40;
    }
}

[data-bs-theme='dark'] {
    body {
        background-color: #282C34;
    }

    footer a {
        color: #fff;
    }

    .card {
        background-color: #383d41;
    }
}

/* SKILL LOGO ANIMATION */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
}

.logos:after {
    right: 0;
}

[data-bs-theme='light'] .logos:before {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #F9F9F9);
}

[data-bs-theme='light'] .logos:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F9F9F9);
}

[data-bs-theme='dark'] .logos:before {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #282C34);
}

[data-bs-theme='dark'] .logos:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #282C34);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 15s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
}

/* SKILL LOGO ANIMATION */